body{
    background-color: #F5F5F5;
    font-family: Arial, sans-serif;
    max-width: 1600px;
    margin: 24px 160px 0px 160px;
}
/* bannerpart */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navh1{
    font-size: 32px;
    
}

.navbutton{
    font-size: 18px;
    color: #006A50;
    padding: 15px 30px;
    border-radius: 5px;
    border-color:#006A50 ;
    background-color: white;
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0px 0px 0px;
    background-color:#C6E4D6 ;
    padding: 80px 50px;
    gap: 32px;
}
.bannertext{
    
    width: 50%; 
   
    
}

.bannerh2{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.5);
    margin-block-start: 0em;
    margin-block-end: 0em;

}
.bannerh1{
    font-size: 56px;
    color: black;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin:24px 0px ;
    font-weight: bold;
}
.bannerbutton{
    font-size: 18px;
    color: white;
    font-weight: semibold;
    padding: 17px 34px;
    background-color: #006A50;
    border: none;
    border-radius: 5px;
    margin: 0px;
    
}
.bannerimg{
    width: 50%;
    height: auto;
}

.pillar{
    margin: 80px 0px;
}
.pillarp{
    font-size: 40px;
    color: black;
    margin-block-start: 0em;
    margin-bottom: 32px;
    font-weight: bold;
}

.pillarcards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:24px ;
    
}

.card{
    padding: 24px;
    background-color: white;
    border-radius: 10px;
    border: rgb(14, 14, 14,0.15) 1px solid;
    

   
}

.cardh4{
    font-size: 20px ;
    color: black ;
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-weight: bold;
    margin: 10px 0px;
}

.cardp{
    color: black ;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.vision{
    margin: 80px 0px;
   
    
}

.visionh1{
    font-size: 40px;
    color: black;
    margin-block-start: 0em;
    margin-bottom: 24px;
    font-weight: bold;
}
.visionp{
    margin-bottom: 32px;
}

.visioncards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
}

.visioncard1{
    background-color:rgb(84, 144, 245,0.2) ;
    padding: 32px;
    border: none;
    border-radius: 10px;
    
}
.visioncard2{
    background-color:#C6E4D6 ;
    padding: 32px;
    border: none;
    border-radius: 10px;
    
}
.visioncard3{
    background-color:#F7EBCF ;
    padding: 32px;
    border: none;
    border-radius: 10px;
}

.cardbutton1{
    padding: 11px 20px;
    background-color: #5490F5;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: semi-bold;
    margin-top: 24px;
}
.cardbutton2{
    padding: 11px 20px;
    background-color: #09A15C;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: semi-bold;
    margin-top: 24px;
}
.cardbutton3{
    padding: 11px 20px;
    background-color: #FFC239;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: semi-bold;
    margin-top: 24px;
}

 /* Quote Section start  */

 .quote{
    background-color: white ;
    padding: 24px 48px;
    border-radius: 15px;
    border: 1px solid rgb(14, 14, 14,.15) ;
 }
 .quoteinside{
    background-image: url(images/quote-bg.png);
    background-repeat: no-repeat;
    padding-top: 12px;
 }
 .quoteh4{
    font-size: 20px;
    color: black;
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-weight: bold;
 }

 .quotep2 .quotep {
    font-size: 16px;
    color:rgb(14, 14, 14,0.7) ;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin: 12px 0px;
 }

 /* Quote section end */

 /* Recent News Section start  */

.recentnews{
    margin: 80px 0px;
    
}

.newsh1{
    font-size: 40px;
    color: black;
    margin-block-start: 0em;
    margin-bottom: 24px;
    font-weight: bold;
}
.newsp{
    margin-bottom: 32px;
    font-size: 16px;
    color:rgb(14, 14, 14,0.7) ;
    margin-block-start: 0em;

}
.newscards{
  display: flex;
  flex-direction: column;
gap: 24px;
}

.newscard1{
    background-color:white ;
    padding: 48px;
    border: none;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px; ;
    
}
.newscardimg{
    border: none;
    border-radius: 15px;
    width: 40%;
}
.newscardtext {
    width: 60%;
}
.newscardh2{
    font-size: 32px;
    color: black;
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-weight: bold;
}
.newstime{
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 12px;
}
.newsbutton{
    padding: 13px 26px;
    background-color: #006A50;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: semi-bold;
    
}
.newscard2{
    background-color:white ;
    padding: 48px;
    border: none;
    border-radius: 15px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 32px; ;
    
}

 /* Recent News Section end  */

  /* Donate Today Section start  */


.donate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.donateh1{
    font-size: 40px;
    color: black;
    margin-block-start: 0em;
    margin-bottom: 24px;
    font-weight: bold;
}
.donatep{
    margin-bottom: 32px;
    font-size: 16px;
    color:rgb(14, 14, 14,0.7) ;
    margin-block-start: 0em;
    width: 75%;
    text-align: center;
}

.donatebuttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 75%;
}
.donatebutton1{
    padding: 40px;
    background-color: white ;
    border: 1px solid rgb(14, 14, 14,.15) ;
    border-radius: 15px;
    font-size: 40px;
    color: black;
    font-weight: bold;
    margin: 32px auto ;
}
.donatebutton2{
    padding: 40px;
    background-color: #C6E4D6;
    border: 1px solid rgb(14, 14, 14,.15) ;
    border-radius: 15px;
    font-size: 40px;
    color: black;
    font-weight: bold;
    margin: 32px auto ;
}
.donatebutton3{
    padding: 40px;
    background-color: white;
    border: 1px solid rgb(14, 14, 14,.15) ;
    border-radius: 15px;
    font-size: 40px;
    color: black;
    font-weight: bold;
    margin: 32px auto ;
}
.donatebutton4{
    padding: 40px;
    background-color: white;
    border: 1px solid rgb(14, 14, 14,.15) ;
    border-radius: 15px;
    font-size: 40px;
    color: black;
    font-weight: bold;
    margin: 32px auto ;
}
.donateamount{
    padding: 20px 40px;
    color: rgb(14, 14, 14,0.3) ;
    border:none ;
    width: 60%;
    text-align: center ;
    font-size: 20px;
    margin-bottom: 32px;
}
.donatebuttondone{
    padding: 17px 34px;
    background-color: #006A50;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: semi-bold;
    margin-bottom: 80px;
}

 /* Donate Today Section end  */

 /* Subscribe Newsletter section start */

.subscribe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #C6E4D6;
    padding: 80px 0px;
    margin-bottom: 80px;
    border-radius: 15px;
}
.subscribeh1{
    font-size: 40px;
    color: black;
    margin-block-start: 0em;
    margin-bottom: 16px;
    font-weight: bold;
}
.subscribep{
    margin-bottom: 32px;
    font-size: 16px;
    color:rgb(14, 14, 14,0.7) ;
    margin-block-start: 0em;
    width: 50%;
    text-align: center;
}
.subscribeform{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 60%;
   
  
}
.subscribeinput{
    padding: 17px 34px;	
    border: none;
    width: 70%;
    border-style: none;
    
    
}
.subscribebutton{
    padding: 17px 34px;
    background-color: #006A50;
    color: white;
    border: none;
    font-weight: semi-bold;
    width: 30%;
    
}
subscribep2{
    font-size: 16px;
    color:rgb(14, 14, 14,0.7) ;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-top: 16px;
}

 /* Subscribe Newsletter section end */

 /* Hover section start  */
 
 .hoverbtn:hover{
    background-color:rgb(106, 0, 0);

 }

 .hovergreen:hover{
    background-color:rgba(0, 106, 0);
    color: white;

 }
.hoverblue:hover{
    background-color:rgb(25, 84, 133);
    color: white;

 }

 .containerhover1:hover{
    background-color:rgb(84, 144, 245,0.5) ;
 }
 .containerhover2:hover{
    background-color:#33d88bb2
 }
 .containerhover3:hover{
    background-color:#fadd98 ;
 }

    /* Hover section end  */